<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Microsetta Public API Taxonomy Table Demo</title>
  <meta name="description" content="Microsetta Public API Taxonomy Table Demo">
  <meta name="author" content="George Armstrong">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
  <script>
    $(document).ready(function() {
      $('#example').DataTable( {
          ajax: "data/orthogonal.txt",
          columns: [
              { data: "SampleID" },
              { data: "Kingdom" },
              { data: "relativeAbundance" },
          ]
      } );
    } );

  </script>

  <table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Sample ID</th>
        <th>Kingdom</th>
        <th>Relative Abundance</th>
      </tr>
    </thead>
  </table>
</body>
</html>