{% extends "demos.html" %}
{% block content %}
  <div>
    <div id="frame" style="margin: 20px">
      <div id="builder-basic" class="query-builder form-inline" style="padding:10px">
      </div>
      <div class="form-row" style="padding:10px">
        <label for="sampleId"> Sample ID </label>
        <input class="form-control" id="sampleId" placeholder="Enter sample ID">
      </div>
      <div class="btn-group" style="padding:10px">
        <button class="btn btn-primary parse-json" data-target="basic" id="btn-get">Get alpha</button>
      </div>
    </div>
    <div id="vis"></div>
  </div>
  {% include "sample-query.html" %}
    <script>
      var taxonomy = "greengenes";
      var opt = {"renderer": "canvas", "actions": true};  /* Options for the Vega embedding */
      var metric = "faith-pd";

      function formatSampleURL() {
          let base = '/api/plotting/diversity/alpha/' + metric + '/percentiles-plot';
          let sampleId = $('#sampleId').val();
          if (sampleId !== "") {
              base = base + '?sample_id=' + sampleId;
          }
          return base;
      }

      $('#btn-get').on('click', function() {
          var result = $('#builder-basic').queryBuilder('getRules');

          if (!$.isEmptyObject(result)) {
              $.ajax({
                  url: formatSampleURL(),
                  data: JSON.stringify($('#builder-basic').queryBuilder('getRules')),
                  contentType: "application/json",
                  type: "POST",
                  success: fillDataTable
              });
          }
      });

      function fillDataTable(data) {
        vegaEmbed("#vis", data, opt);
      }
    </script>
{% endblock %}
